[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/TomaszReda (TomaszReda)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/TomaszReda (TomaszReda)
	label-Verified = -1..+1 group user/TomaszReda (TomaszReda)
	push = group user/TomaszReda (TomaszReda)
	read = group user/TomaszReda (TomaszReda)
	rebase = group user/TomaszReda (TomaszReda)
	removeReviewer = group user/TomaszReda (TomaszReda)
	submit = group user/TomaszReda (TomaszReda)
[access "refs/heads/*"]
	create = group user/TomaszReda (TomaszReda)
	push = +force group user/TomaszReda (TomaszReda)
	pushMerge = group user/TomaszReda (TomaszReda)
	read = group user/TomaszReda (TomaszReda)
[access "refs/tags/*"]
	push = group user/TomaszReda (TomaszReda)
	push = +force group user/TomaszReda (TomaszReda)
